ul li a {
    color: red;
    text-decoration: none;
}
ul li a:hover {
    color: white;
    text-decoration: underline;
    background-color: red;

}

ul li a:active{
    color: orange;
    text-decoration: none;
}

ul li a:visited {
    color: green;
    text-decoration: underline;
}

ul li a:focus{
    text-decoration: underline;
    outline: 1px solid red;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #ccc;
}
img{
    width: 80px;
}