.noelemento{
    list-style-type: none;
}
.circulo {
    list-style-type: circle;
}
.disco{
    list-style-type: disc;
}
.lower-roman{
    list-style-type: lower-roman;
}
.lower-greek{
    list-style-type: lower-greek;
}

a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #ccc;
  }