h2:first-letter {
    font-size: 1.5em;
}
  
h2 + p:first-line {
    text-indent: 2em;
}
  
a:before {
    content: "->";
    padding-right: 5px;
}
  
abbr:after {
    content: " (" attr(title) ")";
    font-style: italic;
}

.btn-atras {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #ccc;
  }