body {
    background: black
}

#visualizar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 25%, rgba(34, 34, 34, 0.7) 50%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.3) 100%);
    color: white;

}

.digital {
    position: absolute;
    width: 104%;
    height: 104%;
    margin: -2%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.digital span {
    display: block;
}

.digital:nth-child(1) {
    transform: rotate(30deg);
}

.digital:nth-child(1) span {
    transform: rotate(-30deg);
}

.digital:nth-child(2) {
    transform: rotate(60deg);
}

.digital:nth-child(2) span {
    transform: rotate(-60deg);
}

.digital:nth-child(3) {
    transform: rotate(90deg);
}

.digital:nth-child(3) span {
    transform: rotate(-90deg);
}

.digital:nth-child(4) {
    transform: rotate(120deg);
}

.digital:nth-child(4) span {
    transform: rotate(-120deg);
}

.digital:nth-child(5) {
    transform: rotate(150deg);
}

.digital:nth-child(5) span {
    transform: rotate(-150deg);
}

.digital:nth-child(6) {
    transform: rotate(180deg);
}

.digital:nth-child(6) span {
    transform: rotate(-180deg);
}

.digital:nth-child(7) {
    transform: rotate(210deg);
}

.digital:nth-child(7) span {
    transform: rotate(-210deg);
}

.digital:nth-child(8) {
    transform: rotate(240deg);
}

.digital:nth-child(8) span {
    transform: rotate(-240deg);
}

.digital:nth-child(9) {
    transform: rotate(270deg);
}

.digital:nth-child(9) span {
    transform: rotate(-270deg);
}

.digital:nth-child(10) {
    transform: rotate(300deg);
}

.digital:nth-child(10) span {
    transform: rotate(-300deg);
}

.digital:nth-child(11) {
    transform: rotate(330deg);
}

.digital:nth-child(11) span {
    transform: rotate(-330deg);
}

#pokebola {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("https://cdn-icons-png.flaticon.com/512/188/188918.png") no-repeat center center;
    background-size: contain;
    z-index: 1;
}

#minutos {
    width: 50%;
    height: 100%;
    position: absolute;
    background: no-repeat center center;
    background-image: url('/Ejercicio_16/img/cola1.png');
    z-index: 2;
    left: 47%;
    top: 28%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
}

#horas {
    width: 40%;
    height: 100%;
    position: absolute;
    background: no-repeat center center;
    background-image: url('/Ejercicio_16/img/cola1.png');
    z-index: 3;
    left: 28%;
    top: -18%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #ccc;
}