table tr th.moneda {
    background-color: #00BFFF; 
  }
  
  table tr td.cambios {
    background-color: #FFFFE0; 
  }
  
  table tr:hover {
    background-color: #FFFF66;
  }
  
  table tr:hover th,
  table tr:hover td {
    background-color: #FFFF66;
  }

img{
    width: 20px;  
    float: left;
}

a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #ccc;
}