.menu {
  display: flex;
  position: relative;
  height: 76px;
  width: 23%;
  margin: 0;
  overflow: hidden;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.menu>span {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  transition: 0.5s ease-in-out;
}

.menu>span>span {
  display: block;
  text-align: center;
  border-radius: 0em;
  padding: 2em 0 1.5em;
  color: #fff;
}

.menu:after {
  content: attr(data-title);
  width: 100%;
  background: #34495E;
  color: #fff;
  display: block;
  text-align: center;
  border-radius: 0em;
  padding: 2em 0 1.5em;
}

.menu.Inicio>span>span,
.menu.Ofertas>span>span {
  background: #D35400;
}

.menu.Tienda>span>span,
.menu.Ingresar>span>span {
  background: #F1C40F;
}

.menu:hover>span {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: inline;
  float: left;
  text-decoration: none;
  font-family: sans-serif;
}

#menu-label, #menu-check{
  display: none;
}


/* Dispositivos extra grandes (computadoras portátiles y escritorios grandes, 1200px y arriba) */
@media screen and (min-width: 1200px) {
  .checkbtn {
    display: none;
    transition: 0.5s ease-in-out;
  }
}

/* Dispositivos grandes (computadoras portátiles/computadoras de escritorio, 992px y arriba) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .checkbtn {
    display: none;
    transition: 0.5s ease-in;
  }

}


/* Dispositivos medios (tabletas de paisaje, 768px y arriba) */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #menu-check:not(:checked) ~ nav .menu{
    display: none;
  }
  #menu-check:checked ~ nav .menu{
    display: block;
  }

  #menu-label{
    display: block;
    color: white;
    background-color: #34495E;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 9999;
 }

 #menu-label:hover{
  color: #D35400;
  background-color: #34495E;
 }

 #menu-cerrar{
  display: none;
 }

 #menu-check:checked ~ label #menu-abrir{
  display: none;
 }

 #menu-check:checked ~label #menu-cerrar{
  display: block;
 }

 header nav .menu {
  position: relative;
  top: 0;
  right: 0;
  left: 310px;
  height: 50%;
  background-color: rgb(37, 37, 37) ;
  padding-top: 0.5em;
  padding-right: 1.5em;
  opacity: 0.8;
  color: white;
  z-index: 999;
 }

 .menu{
  position: relative;
  height: 50%;
  display: block;
  z-index: 999;
 } 
 .menu {
  display: inline-block;
  width: 50%;

 }

 main{
  text-align: center;
 }
  .logo {
    height: 50px;
    margin-right: 20px;
    z-index: 99999;
    position: absolute;
    left: 0;
  }
}


/* Pequeños dispositivos (tabletas de retrato y teléfonos grandes, 600px y arriba)*/
@media screen and (min-width: 600px) and (max-width: 768px) {

  #menu-check:not(:checked) ~ nav .menu{
    display: none;
  }
  #menu-check:checked ~ nav .menu{
    display: block;
  }

  #menu-label{
    display: block;
    color: white;
    background-color: #34495E;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 9999;
 }

 #menu-label:hover{
  color: #D35400;
  background-color: #34495E;
 }

 #menu-cerrar{
  display: none;
 }

 #menu-check:checked ~ label #menu-abrir{
  display: none;
 }

 #menu-check:checked ~label #menu-cerrar{
  display: block;
 }

 header nav .menu {
  position: relative;
  top: 0;
  right: 0;
  left: 250px;
  height: 50%;
  background-color: rgb(37, 37, 37) ;
  padding-top: 0.5em;
  padding-right: 1.5em;
  opacity: 0.8;
  color: white;
  z-index: 999;
 }

 .menu{
  position: relative;
  height: 50%;
  display: block;
  z-index: 999;
 } 
 .menu {
  display: inline-block;
  width: 50%;

 }

 main{
  text-align: center;
 }
  .logo {
    height: 50px;
    margin-right: 20px;
    z-index: 99999;
    position: absolute;
    left: 0;
  }
}

/* Dispositivos extra pequeños (teléfonos, 600px y abajo) */
@media screen and (max-width: 600px) {
  #menu-check:not(:checked) ~ nav .menu{
    display: none;
  }
  #menu-check:checked ~ nav .menu{
    display: block;
  }

  #menu-label{
    display: block;
    color: white;
    background-color: #34495E;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 9999;
 }

 #menu-label:hover{
  color: #D35400;
  background-color: #34495E;
 }

 #menu-cerrar{
  display: none;
 }

 #menu-check:checked ~ label #menu-abrir{
  display: none;
 }

 #menu-check:checked ~label #menu-cerrar{
  display: block;
 }

 header nav .menu {
  position: relative;
  top: 0;
  right: 0;
  left: 175px;
  height: 50%;
  background-color: rgb(37, 37, 37) ;
  padding-top: 0.5em;
  padding-right: 1.5em;
  opacity: 0.8;
  color: white;
  z-index: 999;
 }

 .menu{
  position: relative;
  height: 50%;
  display: block;
  z-index: 999;
 } 
 .menu {
  display: inline-block;
  width: 50%;

 }

 main{
  text-align: center;
 }
  .logo {
    height: 50px;
    margin-right: 20px;
    z-index: 99999;
    position: absolute;
    left: 0;
  }
}