body{
    background-color: #2C3E50;
    color: white;
}
main{
    background-color: #34495E;
    /* border: 2px; */
    padding: 20px;
    margin: 2%;
}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    animation: banner 12s infinite;
  }
  
  .banner img:nth-child(1) {
    animation-delay: 0s;
  }
  
  .banner img:nth-child(2) {
    animation-delay: 4s;
  }
  
  .banner img:nth-child(3) {
    animation-delay: 8s;
  }

@keyframes banner{
    0%, 30%{
        opacity: 1;
    }
    31%,34%{
        opacity: 0.1;
    }
    35%, 65%{
        opacity: 1;
    }
    66%,69%{
        opacity: 0.1;
    }
    70%, 100%{
        opacity: 1;
    }
}
.titulo{
    display: flex;
    justify-content: center;
    color: #f1c40f;
}

.parrafo{
    text-align: justify;
    margin: 1rem;
    
}

@media (min-width: 768px) {
    .parrafo {
      margin: 2rem;
    }
  }

.resaltar{
    color: rgb(223, 124, 12);
    font-family: verdana, calibri, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.titulo{
    font-size: 50px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #ccc;
}